.page.theme_dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --heading-color: #db00ff;
  --accent-color: #ff0070;
  --title-decor-color: #000028;
  --menu-button-color: #ff0070;
  --content-title-color: #ff0070;
  --menu-button-hover-color: rgba(255, 0, 112, 0.4);
  --cover-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__lamp {
  display: block;
}
