.page {
  font-family: var(--main-font, serif);
  font-size: 18px;
  background-color: var(--bg-color);
  background-attachment: fixed;
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heading {
  color: var(--heading-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.title-decor {
  color: var(--title-decor-color);
  background-color: var(--accent-color);
}

.text-shadow {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-shadow:hover {
  border-block-end: 1px solid var(--text-color);
}

.text-shadow:focus {
  outline: none;
}

.text-shadow:focus-visible {
  outline: 1px solid var(--text-color);
}

/* header */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-height: 100vh;
  padding: var(--content-section-padding);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: var(--content-section-padding);
  right: var(--content-section-padding);
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.decorated-zone::after {
  bottom: var(--content-section-padding);
  left: var(--content-section-padding);
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.header__lamp {
  position: absolute;
  top: var(--content-section-padding);
  right: clamp(38px, 28.4px + 2.545vw, 48px);
  display: block;
}

.header__lamp-text {
  position: relative;
  display: inline-block;
  color: var(--accent-color);
  line-height: 25px;
}

.header__lamp-text::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -20px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  transform: translateY(-50%);
  inline-size: 10px;
  block-size: 10px;
}

.header__theme-menu {
  display: grid;
  justify-content: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  border: none;
  padding: 2px 13px;
  color: var(--menu-button-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.header__theme-menu-button:disabled {
  pointer-events: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-button-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-button-color);
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  margin-left: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  max-inline-size: 364px;
}

/* main */

.main {
  margin-block-start: var(--main-section-margin);
  margin-block-end: var(--main-section-margin);
  padding-inline-start: var(--content-section-padding);
  padding-inline-end: var(--content-section-padding);
}

/* content */

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content:not(:last-of-type) {
  margin-bottom: clamp(50px, 21.3px + 7.634vw, 80px);
}

.title-type {
  font-size: 18px;
  line-height: 23.4px;
}

.content__title {
  color: var(--content-title-color);
  font-weight: 700;
}

.content__list,
.content__sublist {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content__subtitle,
.gallery__subtitle {
  font-weight: 700;
}

.content__text-block {
  margin-block-start: 10px;
  color: var(--text-color);
  line-height: 23.4px;
}

/* how-focus */

.content__sublist {
  margin-block-start: 20px;
}

.content__subitem-title {
  font-weight: 400;
  font-size: 18px;
}

/* gallery */

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr;
  grid-template-areas:
    'sunset '
    'ice-cream'
    'tape'
    'books'
    'street';
  gap: var(--content-section-padding);
  margin-block-start: var(--content-section-padding);
}

.gallery__sunset {
  grid-area: sunset;
}

.gallery__ice-cream {
  grid-area: ice-cream;
}

.gallery__tape {
  grid-area: tape;
}

.gallery__books {
  grid-area: books;
}

.gallery__street {
  grid-area: street;
}

.gallery__image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

/* footer */

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: var(--content-section-padding);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width > 425px) {
  .gallery__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      'sunset sunset '
      'ice-cream books'
      'tape street';
  }
}

@media (width >= 768px) {
  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__subtitle {
    max-inline-size: clamp(364px, -17px + 49.6094vw, 491px);
  }

  .content {
    grid-template-columns: 1fr 2fr;
  }

  .content-alignment .content__list {
    grid-column: span 2;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      'sunset sunset ice-cream'
      'tape books ice-cream'
      'tape street street';
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-content: center;
    align-self: start;
  }

  .content-alignment .content__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}
